.animations-div,
.buttons-div,
.forms-div {
  width: 100%;
}

.animations-label,
.buttons-label,
.forms-label {
  text-align: center;
  margin: 2px;
  padding-top: 3px;
  font-family: 'Special Elite', cursive;
  letter-spacing: 0.06em;
  font-size: 25px;
  color: #4c5051;
}

select {
  width: 100%;
  height: 40px;
  background-color: #fff;
  margin-top: 10px;
}

.resource-display {
  height: 100%;
  width: 100%;
  display:flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: 'Special Elite', cursive;
  vertical-align: middle;
}

.resource-display-text h1 {
  font-size: 50px;
  color: #4c5051;
}

.resource-display-form input {
  border: 1px solid #737576;
  height: 50px;
}

.resource-display-button {
  background-color: #fff;
  border: 1px solid #737576;
  height: 60px;
  width: 200px;
}

.submit-div-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.submit-button {
  height: 30px;
  width: 100px;
  margin: -3px 0px 5px;
}


.button-text {
  font-family: 'Special Elite', cursive;
  color: #4c5051;
  font-size: 20px;
  line-height: 1.2em;
}
