@keyframes fadeIn {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  60% {
    transform: scale(1.2);
    opacity: 0.8;
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.fadeIn {
  animation: fadeIn;
  animation-duration: 3s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  color: #3db3d1;
}


@keyframes flash {
  0% {
    opacity: 1;
  }

  25% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  75% {
    opacity: 0;
  }
}

.flash {
  animation: flash 5s ease 200;
  color: #767abf;
}

.rotate {
  color: #ed6aea;
  transform: rotate(90deg);
  transition: transform 600ms cubic-bezier(0.14, 1.16, 0.96, 1.34);
}


@keyframes slideUp {
  0% {
    opacity: 0.0;
    transform: scale(0.95) translate3d(0,100%,0);
    transition: transform 400ms ease, opacity 400ms ease;
  }

  50% {
    opacity: 1.0;
    transform: scale(1.0) translate3d(0,0,0);
  }

  100% {
    opacity: 0.0;
    transform: scale(2.0) translate3d(0,0,0);
  }
}

.slideUp {
  animation: slideUp;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 2;
  animation-direction: alternate;
  color: #3db3d1;
}

.spin {
  color: #f99b0e;
  transform: rotate(-360deg);
  transition: transform 2s ease;
}
