@keyframes fadeIn {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  60% {
    transform: scale(1.2);
    opacity: 0.7;
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.fadeIn {
  animation: fadeIn 5s ease;
  color: #3db3d1;
}

/*@keyframes fadeOut {
  0% {
    transform: scale(1);
    color: #3db3d1;
  }
  60% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(0.1);
    opacity: 0;
  }
}

.fadeOut {
  animation: fadeOut 2s infinite;
  color: #fff;
}*/


.fadeOut {
  width: 100px;
  height: 100px;
  color: #3db3d1;
  transition: 1.0s;
  opacity: 0;
}

.more:hover {
  color: blue;
}
