@keyframes fadeIn {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  60% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

.fadeIn {
  animation: fadeIn 5s;
  color: #3db3d1;
}

@keyframes fadeOut {
  0% {
    transform: scale(1);
    color: #3db3d1;
  }
  60% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(0.1);
    opacity: 0;
  }
}

.fadeOut {
  animation: fadeOut 2s;
  color: #fff;
}


.something {
  width: 100px;
  height: 100px;
  color: #3db3d1;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
}

.more:hover {
  color: blue;
}
