button, input, {
  -webkit-appearance: none;
}

.basic {
  background-color: #fff;
  height: 60px;
  width: 200px;
  color: #4c5051;
  font-size: 24px;
  line-height: 1.2em;
}

.backgroundImage {
  background-image: url('../assets/clouds.png');
}


.border {
  border: 5px red dashed;
}

@-webkit-keyframes bounceIn {

  0% {
    opacity: 0;
    transform: translate3d(3000px, 0, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(-25px, 0, 0);
  }

  75% {
    transform: translate3d(10px, 0, 0);
  }

  90% {
    transform: translate3d(-5px, 0, 0);
  }

  to {
    transform: none;
  }
}

.bounceIn {
  animation-name: bounceIn;
}

.wavyUnderline {
  text-decoration: underline;
  text-decoration-style: wavy;
}

.clip {
  border: 10px dotted black;
  padding: 35px;
  background: pink;
  background-clip: padding-box;
}

.color {
  background-color: #2bcaf2;
  color: #fff;
}

.gradient {
  background-color: white;
  background-size: 200px 100px;
  background-repeat: no-repeat;
  background-image: linear-gradient(to right, #0be849 0%, white 100%);
}

.rounded {
  border-radius: 30px;
}
