button, input {
  -webkit-appearance: none;
}

.base {
  background-color: #fff;
  border: 1px solid #737576;
  height: 50px;
  font-family: 'Special Elite', 'Avenir';
}

@keyframes jump {
  0%, 100% {
    transform: translate3d(0, 0, 0);
  }

  10%, 30%, 50%, 70%, 90% {
    transform: translate3d(0, 10px, 0);
  }

  20%, 40%, 60%, 80% {
    transform: translate3d(0, -10px, 0);
  }
}

.grow:hover {
  background: blue;
  color: red;
}

.jump {
  animation: jump 1s 20;
  background-color: #fff;
  border: 1px solid #737576;
  height: 50px;
}
